.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.MainMenu h1 {
  font-size: 5em;
  margin: 0;
}

.MainMenu ul {
  list-style-type: none;
}

.MainMenu a, .MainMenu button {
  font-size: 3em;
  text-decoration: none;
  color: #EEE;
  background: none;
  border: none;
}

.MainMenu a:hover, .MainMenu button:hover {
  color: #DDD;
  cursor: pointer;
}

