.CreateGame {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreateGame form {
  width: 500px;
  padding: 10px;
}

.CreateGame label {
  font-size: 1.2em;
}

.CreateGame input {
  font-size: 2em;
  margin: 0 0 10px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.5ch;
}

.CreateGame button {
  font-size: 2em;
  margin-top: 10px;
  width: 100%;
}
